.venv/
.git/
static/tracks/*
static/*
!static/.keep
!static/*.js
!static/*.css
!static/js
!static/css
!static/albumart.svg
!static/mag-glass2-white.svg
!static/tracks/.keep
!*/**/.keep
db.sqlite3
*/**/__pycache__/
**/__pycache__/
__pycache__/
.vscode/
tests1/brouillon.html
TODO.md
repomix-output.xml
yasp.md

