{% extends "main.html" %}
{% load static %}
{% block user_style %}
<link href="/static/player.css" rel="stylesheet">
<link href="/static/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="content">
  <div id="player">
    <div id="info-box">
      <div id="foto-box">
        <img src="/static/albumart.jpg" id="album-art">  
      </div><div id="track-box">
        <p id="track-title"><span id="name-track">No track</span><span id="name-album"></span><span id="time-track"></span></p>
        <p id="artist-name"></p>
      </div>
    </div>
    <div id="player-controls">
      <div class="inline-block action-cnt" id="play-button">
        <span>
          <a href="" class="player-action">
            <i class="fa-solid fa-play"></i>
          </a>
        </span>
      </div><div class="inline-block action-cnt" id="stop-button">
        <span>
          <a href="" class="player-action">
            <i class="fa-solid fa-stop"></i>
          </a>
        </span>
      </div><div class="inline-block action-cnt" id="prev-button">
        <span>
          <a href="" class="player-action">
            <i class="fa-solid fa-backward-step"></i>
          </a>
        </span>
      </div><div class="inline-block action-cnt" id="next-button">
        <span>
          <a href="" class="player-action">
            <i class="fa-solid fa-forward-step"></i>
          </a>
        </span>
      </div><div class="inline-block action-cnt" id="shuffle-button">
        <span>
          <a href="" class="player-action">
            <i class="fa-solid fa-shuffle"></i>
          </a>
        </span>
      </div><div class="inline-block action-cnt" id="repeat-button">
        <span>
          <a href="" class="player-action">
            <i class="fa-solid fa-repeat"></i>
            <div class="repeat-one">1</div>
          </a>
        </span>
      </div>
    </div>
    
    <div id="progress">
      <div id="prog-bar"></div>
    </div>
    <!--<canvas id="vu-meters"></canvas>-->
    <div id="main-left-menu">
      <div id="open-menu" style="vertical-align: top;" class="inline-block">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div><div id="left-menu" style="vertical-align: top;" class="inline-block">
        <div id="cotrols" class="inline-block">
          <div id="file-browser-action">
            <button class="open-file-browser">Browse Files</button>
            <button class="open-tracklist-browser">View tracks</button>
            <button class="open-playlist-create">Create new playlist</button>
          </div>
          <div id="volume-control">
            VOL : <span class="vol-up">
              <i class="fa-solid fa-plus"></i>
            </span><span class="vol-down">
              <i class="fa-solid fa-minus"></i>
            </span><span class="vol-val">100</span>
            <div id="volume-bar-container">
              <div id="main-volume-bar"><div id="volume-bar"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display: none;" id="volume-display">
  <span class="vol-val">100</span>
</div>
<div style="display: none;" id="muted-display">
  <i id="mute-on" style="display: none;" class="fa-solid fa-volume-xmark"></i>
  <i id="mute-off" style="display: none;" class="fa-solid fa-volume-high"></i>
</div>
<div style="display: block;" class="cnt-overlay">
  <div style="display: block;" class="track-browser" id="window-content">
    <div class="tracklist-head">
        <div class="tracklist-title inline-block">Track list</div>
        <div class="tracklist-search inline-block">
            <div class="img-cnt inline-block">
                <img src="/static/mag-glass2-white.svg">
            </div>
            <div class="input-cnt inline-block">
                <input class="search-input">
            </div>
        </div>
    </div>
    <div class="tracklist-content-div">
        <table class="tracklist-content">
            <thead>
                <tr>
                    <th class="small-cell">N°</th><th>Title</th><th>Artist</th><th>Album</th><th class="small-cell">Duration</th><th class="small-cell"></th><th class="track-play"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-blue" data-track-index="0" data-track-id="84ed8c12-83d2-4117-99fc-9d9fdbb4d223">
                    <td class="small-cell">1</td><td data-field-type="title">時の向こう</td><td data-field-type="artist">吉田美奈子</td><td data-field-type="album">LIGHT'N UP</td><td class="small-cell">05:06</td><td class="small-cell dont-hide"><span data-track-id="84ed8c12-83d2-4117-99fc-9d9fdbb4d223" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="84ed8c12-83d2-4117-99fc-9d9fdbb4d223"><li class="fa-solid fa-play"></li></td>
                </tr>
                <tr data-track-index="1" data-track-id="6450b6b4-1f94-4f5d-88f7-ba06e633f8ff">
                    <td class="small-cell">2</td><td data-field-type="title">El Gavilan</td><td data-field-type="artist">Angel Custodio Loyola</td><td data-field-type="album">Rural Music of Latin America 1930-1962 (Argentine, Brésil, Cuba, Mexique, Paraguay, Pérou, Venezuela)</td><td class="small-cell">02:43</td><td class="small-cell dont-hide"><span data-track-id="6450b6b4-1f94-4f5d-88f7-ba06e633f8ff" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="6450b6b4-1f94-4f5d-88f7-ba06e633f8ff"><li class="fa-solid fa-play"></li></td>
                </tr>
                <tr class="tr-blue" data-track-index="2" data-track-id="a036d7e3-4a3f-478a-a92e-1b8b0bed11eb">
                    <td class="small-cell">3</td><td data-field-type="title">たそがれマイ・ラブ</td><td data-field-type="artist">Junko Ohashi</td><td data-field-type="album">Golden Best Junko Ohashi Singles</td><td class="small-cell">03:51</td><td class="small-cell dont-hide"><span data-track-id="a036d7e3-4a3f-478a-a92e-1b8b0bed11eb" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="a036d7e3-4a3f-478a-a92e-1b8b0bed11eb"><li class="fa-solid fa-play"></li></td>
                </tr>
                <tr data-track-index="3" class="currently-playing" data-track-id="8b3f9244-2c1b-4001-b605-39faad324cbe">
                    <td class="small-cell">4</td><td data-field-type="title">Deixa Acontecer</td><td data-field-type="artist">Grupo Revelação</td><td data-field-type="album">AO VIVO - NA PALMA DA MÃO</td><td class="small-cell">04:20</td><td class="small-cell dont-hide"><span data-track-id="8b3f9244-2c1b-4001-b605-39faad324cbe" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="8b3f9244-2c1b-4001-b605-39faad324cbe"><li class="fa-solid fa-play"></li></td>
                </tr>
                <tr class="queued-track">
                  <td colspan="7" class="queue-td">
                    <table class="queue-table">
                      <tbody>
                        <tr>
                          <td class="small-cell">4</td><td data-field-type="title">Deixa Acontecer</td><td data-field-type="artist">Grupo Revelação</td><td data-field-type="album">AO VIVO - NA PALMA DA MÃO</td><td class="small-cell">04:20</td><td class="small-cell dont-hide"><span data-track-id="8b3f9244-2c1b-4001-b605-39faad324cbe" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="8b3f9244-2c1b-4001-b605-39faad324cbe"><li class="fa-solid fa-play"></li></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr class="tr-blue" data-track-index="4" data-track-id="45b33842-c82f-4fdb-a8e0-f9d624928694">
                    <td class="small-cell">5</td><td data-field-type="title">Flyday Chinatown</td><td data-field-type="artist">泰葉</td><td data-field-type="album">The Best of City Pop, Vol. 1</td><td class="small-cell">03:34</td><td class="small-cell dont-hide"><span data-track-id="45b33842-c82f-4fdb-a8e0-f9d624928694" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="45b33842-c82f-4fdb-a8e0-f9d624928694"><li class="fa-solid fa-play"></li></td>
                </tr>
                    <tr data-track-index="5" data-track-id="c6a19237-c9ae-42ca-bb27-a4edb4f66180"><td class="small-cell">6</td><td data-field-type="title">My Immortal (Acoustic)</td><td data-field-type="artist">Evanescence</td><td data-field-type="album">Misc</td><td class="small-cell">04:29</td><td class="small-cell dont-hide"><span data-track-id="c6a19237-c9ae-42ca-bb27-a4edb4f66180" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="c6a19237-c9ae-42ca-bb27-a4edb4f66180"><li class="fa-solid fa-play"></li></td>
                </tr>
                    <tr class="tr-blue" data-track-index="6" data-track-id="010953f7-06ba-4f3f-bb21-c986f10a3f28"><td class="small-cell">7</td><td data-field-type="title">Breathe</td><td data-field-type="artist">Telepopmusik</td><td data-field-type="album">French Touch Story</td><td class="small-cell">04:56</td><td class="small-cell dont-hide"><span data-track-id="010953f7-06ba-4f3f-bb21-c986f10a3f28" class="track-actions"><li class="fa-solid fa-ellipsis"></li></span></td><td class="track-play" data-track-id="010953f7-06ba-4f3f-bb21-c986f10a3f28"><li class="fa-solid fa-play"></li></td>
                </tr>
            </tbody>
        </table>
        <div class="tracklist-info-cnt">
            <span class="tracklist-info-nb"><span class="nb-tracks">472</span> Total Tracks</span><span class="tracklist-info-duration"><span class="duration-tracks">34:51:42</span> Total Duration</span>
        </div>
    </div>
  </div>
</div>
<div id="notifications-cnt">
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/player.js"></script>
<script src="/static/node_modules/luxon/src/luxonjs.js"></script>
{% endblock %}