* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #181717;
    font-family:  Arial, Helvetica, sans-serif!important;
    color: #fff
}

ul {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#player {
    padding: 0 8px 0 8px;
    width: 98.5%;
    height: auto;
    margin: auto;

}
#foto-box, #album-art {
    width: 100px;
    padding-top: 12px;
}

#track-box {
    width: 66.66%;
}

#foto-box, #track-box {
    padding: 6px 6px 6px 0;
    display: inline-block;
    vertical-align: top;
}

#track-box p {
    padding: 10px 0 10px 6px;
    font-size: 16px;
    color: #fff;
}

.inline-block {
    display: inline-block;
    vertical-align: bottom;
}

.action-cnt {
    width: 100px;
    height: auto;
    padding: 12px 12px 6px 0;
}

.action-cnt a {
    display: block;
}

.action-cnt a, .action-cnt img {
    width: 40px;
    position: relative;
 }

.action-cnt .fa-solid {
    font-size: 26px;
    text-align: center;
    color: #fff;
    padding: 4px 0 0;
}

.action-cnt .fa-solid:hover {
    color: #d23939;
}

.action-cnt a .fa-repeat.repeat-active {
    color: #bf1616;
}


.action-cnt a .repeat-one.repeat-active {
    display: block;
}

.action-cnt a .repeat-one {
    display: none;
    position: absolute;
    background: transparent;
    top: 8px;
    left: 7px;
    text-align: center;
    font-size: 8px;
    color: rgb(184, 41, 41);
    font-weight: bold;
    height: 10px;
}

#progress {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #181717;
    margin-top: 14px;
}

#progress:hover, #prog-bar:hover {
    height: 6px;
    /*background: rgb(255, 75, 75);*/
}

#prog-bar {
    height: 100%;
    background: rgb(250, 50, 50);
}

#vu-meters {
    width: 100%;
    height: 660px;
}

.cnt-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(100, 100, 100, .4);
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

.cnt-overlay .file-browser {
    position: relative;
    width: 710px;
    height: 600px;
    top: 25%;
    left: 36%;
    background: #282626;
    border-radius: 5px;
    padding: 16px;
    overflow: auto;
}

.base-path {
    height: 30px;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 15px;
}

.file-browser ul li.fld-itm,
.file-browser ul li.fle-itm {
    padding: 4px 2px 4px 2px;
    cursor: pointer;
}

.file-browser ul li.fld-itm:hover,
.file-browser ul li.fle-itm:hover {
    background: #0e6c9f;
    color: #fff;
}

li.fa-solid.fa-folder {
    color: #f0f000
}

li.fa-solid.fa-file {
    color: #68d5d9
}

#file-browser-action {
    width: 202px;
    padding: 0 0 20px 0;
}

#volume-control {
    width: 520px;
    font-size: 18px;
    padding: 0 0 20px 0;
}

#volume-control span {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    width: 36px;
}

#volume-control .fa-plus,
#volume-control .fa-minus {
    font-size: 24px;
    cursor: pointer;
}

#volume-control .vol-val {
    font-size: 20px;
    margin-left: 6px;
}

#file-browser-action button {
    border: 0;
    padding: 7px;
    border-radius: 4px;
    background: #107bb4;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#file-browser-action button:hover {
    background: #056da5;
}
